{% if include.columns %}
    {% assign columns = include.columns %}
    {% if columns == '1' %}
        {% assign container = ' uk-container-xsmall' %}
    {% elsif columns == '2' %}
        {% assign container = ' uk-container-small' %}
    {% else %}
        {% assign container = '' %}
    {% endif %}
{% else %}
    {% assign columns = 3 %}
    {% assign container = '' %}
{% endif %}

<div class="uk-section boxHead boxes5">
    <div class="uk-container{{container}}">
        <h2 class="uk-text-center">Get started with our Experience Kits</h2>
        <p class="lead uk-text-center">Experience kits are reference architectures based on technologies from across the cloud native landscape, optimized for efficient performance at the network edge.</p>

        <div class="uk-child-width-1-{{ columns }}@m uk-grid-match uk-text-center uk-margin-medium-top" data-uk-grid>
            <div class="boxHeadBox">
                <div class="uk-card uk-card-default uk-box-shadow-medium uk-card-hover uk-card-body uk-inline border-radius-large border-xlight">
                    <h3 class="uk-card-title">Developer</h3>
                    <p>Provides the base capabilities needed to run typical containerized edge services, including networking, security, and telemetry.</p>
                    <p>Use it to explore Intel&reg; Smart Edge Open features, or as the starting point for you own solution.</p>
                </div>
            </div>
            <div class="boxHeadBox">
                <div class="uk-card uk-card-default uk-box-shadow-medium uk-card-hover uk-card-body uk-inline border-radius-large border-xlight">
                    <h3 class="uk-card-title">uCPE</h3>
                    <p>Seamlessly connect endpoints using multiple protocols, without needing to invest in specialized hardware.</p>
                </div>
            </div>
            <div class="boxHeadBox">
                <div class="uk-card uk-card-default uk-box-shadow-medium uk-card-hover uk-card-body uk-inline border-radius-large border-xlight">
                    <h3 class="uk-card-title">Private Wireless</h3>
                    <p>Deploy a local, private wireless network for your industrial, retail, or enterprise location. Run compute-intensive workloads at the edge on data collected from intelligent sensors at 5G speeds.</p>
                </div>
            </div>
            <div class="boxHeadBox">
                <div class="uk-card uk-card-default uk-box-shadow-medium uk-card-hover uk-card-body uk-inline border-radius-large border-xlight">
                    <h3 class="uk-card-title">Access Edge</h3>
                    <p>Provide smart indoor coverage solutions based on next-generation fronthaul architecture.</p>
                </div>
            </div>
            <div class="boxHeadBox">
                <div class="uk-card uk-card-default uk-box-shadow-medium uk-card-hover uk-card-body uk-inline border-radius-large border-xlight">
                    <h3 class="uk-card-title">Near Edge</h3>
                    <p>Scale solutions from a single-edge node to multicluster deployments across network edge aggregation points, such as group centers and next-generation central offices.</p>
                </div>
            </div>
        </div>

    </div>
</div>