<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if page.name == 'index.md' %}
  {% assign pageName = 'Home' %}
  {% elsif page.name == 'index.html' %}
  {% assign pageName = 'Blog' %}
  {% else %}
  {% assign pageName = page.name %}
  {% endif %}
  {% assign title = pageName | replace: "-"," " | replace: "_"," " | split: ".md" | first %}
  {% assign pageTitle = title | split: ' ' %}
  {% capture pageTitleUpper %}{% for word in pageTitle %}{{ word | capitalize }} {% endfor %}{% endcapture %}
  <title>Intel® Smart Edge Open | {{ pageTitleUpper }}</title>
  {% seo title=false %}
  <meta property="og:image" content="{% if site.logo contains 'http' %}{{ site.logo }}{% else %}{{ site.uploads | absolute_url }}{{ site.logo }}{% endif %}"/>
  <!-- <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}"> -->
  <link rel="stylesheet" href="{{ "/assets/css/custom.css" | relative_url }}">
  <link rel="shortcut icon" type="image/png" href="{{ "uploads/favicon.png" | relative_url }}" >
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
  <script type="text/javascript" src="{{ "/assets/js/jquery.js" | relative_url }}"></script>
  <script src="{{ "/assets/js/main.js" | relative_url }}"></script>
  {% if page.hero.search or site.navbar.search %}
    {% include search-js.html %}
  {% endif %}
  {% include hook-head.html %}
  {% if site.google_analytics %}
    {% include google-analytics.html %}
  {% endif %}
  <script type="text/javascript">
    var base_url = "{{ site.baseurl }}";
  </script>
</head>
