@font-face {
    font-family: 'Intel One Display Light';
    src: url('../fonts/intelone-display-light.otf') format('otf'),
    url('../fonts/intelone-display-light.ttf') format('ttf'),
    url('../fonts/intelone-display-light.woff') format('woff'),
    url('../fonts/intelone-display-light.woff2') format('woff2'), ;
}
@font-face {
    font-family: 'Intel One Display Regular';
    src: url('../fonts/intelone-display-regular.otf') format('otf'),
    url('../fonts/intelone-display-regular.ttf') format('ttf'),
    url('../fonts/intelone-display-regular.woff') format('woff'),
    url('../fonts/intelone-display-regular.woff2') format('woff2'), ;
}
@font-face {
    font-family: 'Intel One Display Medium';
    src: url('../fonts/intelone-display-medium.otf') format('otf'),
    url('../fonts/intelone-display-medium.ttf') format('ttf'),
    url('../fonts/intelone-display-medium.woff') format('woff'),
    url('../fonts/intelone-display-medium.woff2') format('woff2'), ;
}