<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

    {% include head.html %}

    <body>

    {% if page.hero %}
        {% include hero.html %}
    {% else %}
        {% include navbar.html %}
    {% endif %}
    
    {% include doc.html %}

    {% include offcanvas-docs.html %}

    {% include offcanvas.html %}

    {% if page.layout != 'doc' %}
        {% include footer.html %}
    {% endif %}

    {% comment %}
    {% if page.layout == 'doc' %}
        {% include hook-pre-closing-body-doc.html %}
    {% endif %}

    {% include hook-pre-closing-body.html %}
    {% endcomment %}
    
    <script type="text/javascript">
        jQuery(document).ready(function(){
            jQuery('.article-content .link-primary a').each(function(e){
                var url = jQuery(this).attr('href');
                if(typeof url != 'undefined'){
                    var urlFound = url.indexOf(base_url);
                    var httpUrl = url.indexOf('http://');
                    var httpsUrl = url.indexOf('https://');
                    var hashCheck = url.indexOf('#');
                    if(urlFound == '-1' && httpUrl == '-1' && httpsUrl == '-1' && hashCheck == '-1'){
                        //Check Image
                        var checkImage = url.split('/');
                        //Remove .md From href
                        url = url.replace(".md", "/");
                        var new_url = "";
                        if(typeof checkImage[0] != 'undefined' && checkImage[0] == 'images'){
                            new_url = jQuery(this).children("img").attr("src");
                        }else{
                            if(url.startsWith("../../") == true){
                                url = url.replace("../../", "");
                            }else if(url.startsWith("../") == true){
                                url = url.replace("../", "");
                            }
                            new_url = (url.startsWith("/") == true)?base_url+"/doc"+url:base_url+"/doc/"+url;
                        }
                        //Update Url
                        jQuery(this).attr('href',new_url);
                    }else{
                        /*if(httpUrl == '-1' && httpsUrl == '-1' && hashCheck != '-1'){
                            //Remove .md From href
                            jQuery(this).attr('href', url.replace(".md", "/"));
                        }*/
                        if(hashCheck == '-1' || hashCheck != '-1'){
                            //Remove .md From href
                            if(url.indexOf('/blob/master') != '-1' && url.indexOf('https://github.com') != '-1' && (url.indexOf('/docs') != '-1' || url.indexOf('/ido-specs/doc') != '-1')){
                                url = url.replace("/blob/master", "");
                                if(url.indexOf('https://github.com/smart-edge-open') != '-1'){
                                    url = url.replace("https://github.com/smart-edge-open", "");
                                }
                                jQuery(this).attr('href', url.replace(".md", "/"));
                            }
                            /*else{
                                jQuery(this).attr('href', url.replace(".md", "/"));
                            }*/
                        }
                    }
                }
            });
        });

        //Add highlight class if not have in pre tag
        document.querySelector('.article-content').querySelectorAll('pre').forEach(function (pre){
            if(pre.classList.contains('highlight') == false){
                pre.classList.add("highlight");
            }
        });
        //Add Copy Button Functionality
        document.querySelector('.article-content').querySelectorAll('pre.highlight').forEach(function (pre) {
            var button = document.createElement('button');
            var copyText = '';
            button.className = 'copyBtn';
            button.type = 'button';
            button.ariaLabel = 'Copy code to clipboard';
            button.innerText = copyText;
            button.addEventListener('click', function () {
                var code = pre.querySelector('code').innerText.trim();
                navigator.clipboard.writeText(code);
                button.innerText = 'Copied';
                button.className = 'copyBtn copiedBtn';
                setTimeout(function () {
                    button.innerText = copyText;
                    button.className = 'copyBtn';
                }, 4000);
            });
            pre.appendChild(button);
        });
    </script>
    </body>
</html>
